#app {
    display: flex;
    justify-content: center;
    background: #064F83;
    height: 100vh;
    margin: 0;  
}
.main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    min-width: 600px;
    font-family: 'Montserrat', sans-serif;
    .container{
        background: #003B67;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        justify-content: space-between;
        padding: 50px 50px 0 50px;
        .totalAmount,
        .term{
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            position: relative;
            span{
                align-self: center;
                margin-bottom: 20px;
            }
        }
        input{
            border: 1px solid #fff;
            background: #003B67;
            font-size: 26px;
            margin-bottom: 20px;
            color: #fff;
            font-weight: 600;
            padding: 6px 20px;
            max-width: 150px;
        }
        .rc-slider{
            width: 400px !important;
            position: absolute !important;
            //left: 0 !important;
        }
        .amount, 
        .terms{
            display: flex;
            justify-content: space-between;
            margin: 10px 0 40px 0;
        }
    }
    .buttonsContainer{
        display: flex;  
        justify-content: space-between;
        padding: 0 50px;
    }
       
}