.main{
    background: #094F85;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 500px;
    height: 500px;
    color: white;
    padding: 60px;
    font-family: 'Montserrat', sans-serif;
    .container{
        background: #003B67;
        min-height: 300px;
        display: flex;
        flex-direction: column;
        text-transform: uppercase;
        justify-content: space-between;
        padding: 50px 50px 0 50px;
        .totalAmount,
        .term{
            display: flex;
            justify-content: space-between;
            padding: 10px 0;
            span{
                align-self: center;
                margin-bottom: 20px;
            }
        }
        input{
            border: 1px solid #fff;
            background: #003B67;
            font-size: 26px;
            margin-bottom: 20px;
            color: #fff;
            font-weight: 600;
            padding: 10px 20px;
            max-width: 150px;
        }
        .rc-slider{
            width: 400px !important;
            position: absolute !important;
            left: 116px !important;
        }
    }
    .buttonsContainer{
        display: flex;  
        justify-content: space-between;
        padding: 0 50px;
    }
       
}